
*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p tcp -m tcp --dport {{ ssh_port }} -j ACCEPT

# DOCSIFY
-A INPUT -p tcp --dport 443 -j ACCEPT
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -s 192.168.0.0/16 -p tcp --dport 30000 -j ACCEPT
-A INPUT -s 10.66.0.0/16 -p tcp --dport 30000 -j ACCEPT


# ICMP (ping)
-A INPUT -s 192.168.0.0/16 -p icmp -m icmp --icmp-type 8 -m state --state NEW,RELATED,ESTABLISHED -j ACCEPT
-A INPUT -s 10.66.0.0/16 -p icmp -m icmp --icmp-type 8 -m state --state NEW,RELATED,ESTABLISHED -j ACCEPT

# PROMETHEUS
-A INPUT -s 10.66.0.0/16 -p tcp -m tcp --dport 9100 -j ACCEPT


# traceroute
-A INPUT -p udp --dport 33434:33474 -j REJECT
-A OUTPUT -p udp --dport 33434:33474 -j ACCEPT

COMMIT
# 15.12.2024